<html>
    <head>
        {% if title %}
        <title>{{ title }} - crypto</title>
        {% else %}
        <title>crypto</title>
        {% endif %}
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        {% if not current_user.is_anonymous %}
        <nav>
            <a href="{{ url_for('dashboard') }}">Dashboard</a>
            <a href="{{ url_for('transactions') }}">Transactions</a>
            <a href="{{ url_for('logout') }}">Logout</a>
        </nav>
        {% endif %}
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        <div class="wrapper ">
            {% block content %}{% endblock %}
        </div>
    </body>
</html>
